name: JSON functions
on:
    workflow_dispatch:
jobs:
    json:
        runs-on: ubuntu-latest
        steps:
            - run: echo "${CONTEXT}"
              env:
                CONTEXT: ${{ toJson(github)}}

            - uses: actions/checkout@v4
            - run: echo "${HASH}"
              env:
                HASH: ${{ hashFiles('.github/workflows/*.yml') }} # ハッシュ値の生成