name: Change shell
on:
  workflow_dispatch:
jobs:
  change-shell:
    runs-on: ubuntu-latest
    steps:
      - shell: bash
        run: echo "${SHELL}"
      - shell: python
        run: |
          import os
          print(os.environ['PATH'])
